<h1> Page to show events</h1>
<h1>Welcome <%= @user.first_name %> user id: <%= @user.id %></h1>
<%= link_to('log off', signout_path) %>

<h2> Here are all users </h2>
<% @userall = User.all %>
<% @eventstate = Event.where(state: @user.state) %>
<% @userall.each do |user2| %>
    <ul >
    <li >First Name: <%= user2.first_name =%></li>
    <li >Last Name: <%= user2.last_name =%></li>
    <li >State: <%= user2.state =%></li>
   
</ul>
  <% end %>  
  <h2> Here are all events </h2>
  <% @eventsall = Event.all %>

  <% @eventsall.each do |event2| %>
    <table>
    <tr> 
    <ul >
    <td><li > Event Name: <%= event2.event_name =%></li> </td>
    <td><li > Event state: <%= event2.state =%></li> </td>
</ul>
</tr>
</table>

<% end %>

<h2> Here are all events in same state as user </h2>
